version: '3.8'

services:
  mongo:
    image: mongo:latest
    container_name: mongo
    ports:
      - "${MONGO_PORT}:27017"
    volumes:
      - mongo_data:/data/db

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "${RABBITMQ_PORT}:5672"
      - "${RABBITMQ_UI_PORT}:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "${USER_PORT}:3001"
    environment:
      - MONGO_URI=${USER_MONGO_URI}
      - PORT=3001
    depends_on:
      - mongo

  task-service:
    build: ./task-service
    container_name: task-service
    ports:
      - "${TASK_PORT}:3002"
    environment:
      - MONGO_URI=${TASK_MONGO_URI}
      - RABBITMQ_URL=${RABBITMQ_URL}
      - QUEUE_NAME=${QUEUE_NAME}
      - PORT=3002
    depends_on:
      - mongo
      - rabbitmq

  notification-service:
    build: ./notification-service
    container_name: notification-service
    ports:
      - "${NOTIFICATION_PORT}:3003"
    environment:
      - RABBITMQ_URL=${RABBITMQ_URL}
      - QUEUE_NAME=${QUEUE_NAME}
    depends_on:
      - rabbitmq

volumes:
  mongo_data:
  rabbitmq_data:
